<link rel="stylesheet" href="/css/navbar.css" />

<nav class="">
    <a class="" href="/"><img src="/image/image-006.png" aria-placeholder="image" /></a>
    <div>
        <a href="/about">About</a>
        <a href="/dashboard">DashBoard</a>
        {{!-- {{#if logged_in}} --}}
        <button id="logout" >Logout</button>

        <div id="backDrop" class="modal">
            <div class="content">
                <p>Are you sure you want to log out?</p>
                <button class="close">Cancel</button>
                <button id="logoutConfirm">Comfirm</button>
            </div>
        </div>
        {{!-- {{else}} --}}
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>

    </div>
</nav>

<script src="/js/navbar.js"></script>