<link rel="stylesheet" href="/css/navbar.css" />

<nav>
    <a href="/"><img src="/image/image-006.png" aria-placeholder="image" /></a>
    <div>
        {{#if logged_in}} 
        <a href="/dashboard">DashBoard</a>
        <button class="logout" >Logout</button>

        <div class="modal back-drop">
            <div class="content">
                <span class="close">&times;</span>
                <p>Are you sure you want to log out?</p>
                <button id="logoutConfirm">Comfirm</button>
            </div>
        </div>
        {{else}} 
        <a href="/login" >Login</a>
        <a href="/signup">Sign Up</a>
        {{/if}}
    </div>
</nav>

<script src="/js/navbar.js"></script>

