<link rel="stylesheet" href="/css/navbar.css" />

<nav class="">
    <a class="" href="/"><img src="/image/image-006.png" aria-placeholder="image" /></a>
    <div>
        <a href="/about">About</a>
        <a href="/dashboard">DashBoard</a>
        {{#if logged_in}}
        <a id="logout" href="/logout">Logout</a>
        {{else}}
        <a href="/login-signup">Login/Sign Up</a>
        {{/if}}
    </div>
</nav>

<script