<div class="container">
    <div id="logo-image" class="">
        <image src="" aria-placeholder="image"/>
    </div>
    <div id="logo-title" class="">
        <h1>ShadowLands</h1>
    </div>
    <div id="dash-board" class="">

    </div>
    <di id="login-signup"></di>
</div>