<h2>CONGRATULATIONS!</h2>
<p>Your Monster's Stats:</p>
<p>Attack: {{cap.attack}}</p>
<p>Health: {{cap.health}}</p>
<p>{{conclusion}}</p>

<button id="next-location">continue</button>
<script src="/js/conc.js"></script>
