<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
    <article><img src="" alt=""></article>
    <article></article>
    <article>
    <ul>
        <li id="1" class="icon">player1</li>
        <li id="2" class="icon">player2</li>
        <li id="3" class="icon">player3</li>
        <li id="4" class="icon">player4</li>
        <li id="5" class="icon">player5</li>
        <li id="6" class="icon">player6</li>
        <li id="7" class="icon">player7</li>
        <li id="8" class="icon">player8</li>
        <li id="9" class="icon">player9</li>
        <li id="10" class="icon">player10</li>
        <li id="11" class="icon">player11</li>
        <li id="12" class="icon">player12</li>
        <li id="13" class="icon">player13</li>
        <li id="14" class="icon">player14</li>
        <li id="15" class="icon">player15</li>
        <li id="16" class="icon">player16</li>
        <li id="17" class="icon">player17</li>
        <li id="18" class="icon">player18</li>
        <li id="19" class="icon">player19</li>
        <li id="20" class="icon">player20</li>
        <li id="21" class="icon">player21</li>
        <li id="22" class="icon">player22</li>
        <li id="23" class="icon">player23</li>
        <li id="24" class="icon">player24</li>
        <li id="25" class="icon">player25</li>
        <li id="26" class="icon">player26</li>
        <li id="27" class="icon">player27</li>
        <li id="28" class="icon">player28</li>
        <li id="29" class="icon">player29</li>
        <li id="30" class="icon">player30</li>
        <li id="31" class="icon">player31</li>
        <li id="32" class="icon">player32</li>
        <li id="33" class="icon">player33</li>
        <li id="34" class="icon">player34</li>
        <li id="35" class="icon">player35</li>
        <li id="36" class="icon">player36</li>
        <li id="37" class="icon">player37</li>
        <li id="38" class="icon">player38</li>
        <li id="39" class="icon">player39</li>
        <li id="40" class="icon">player40</li>
        <li id="41" class="icon">player41</li>
        <li id="42" class="icon">player42</li>
        <li id="43" class="icon">player43</li>
        <li id="44" class="icon">player44</li>
        <li id="45" class="icon">player45</li>
        <li id="46" class="icon">player46</li>
        <li id="47" class="icon">player47</li>
        <li id="48" class="icon">player48</li>
        <li id="49" class="icon">player49</li>
        <li id="50" class="icon">player50</li>
        <li id="51" class="icon">player51</li>
        <li id="52" class="icon">player52</li>
        <li id="53" class="icon">player53</li>
        <li id="54" class="icon">player54</li>
        <li id="55" class="icon">player55</li>
        <li id="56" class="icon">player56</li>
        <li id="57" class="icon">player57</li>
        <li id="58" class="icon">player58</li>
        <li id="59" class="icon">player59</li>
        <li id="60" class="icon">player60</li>
    </ul>
</article>
</section>
</body>
</html>
