{{!-- display the navbar with the logout button  --}}
{{!-- User can choose between selecting the battle button or the beast button  --}}
{{!-- This handlebar will show a prompt displaying the user name vs the option they chose --}}
{{> navbar}}

<div class="container">
  <h1>Battle</h1>
  <p>Select an opponent:</p>
  <div class="row">
    <div class="col-sm-6">
      <button class="btn btn-primary" onclick="selectOpponent('Wild')">Wild</button>
    </div>
    <div class="col-sm-6">
      <button class="btn btn-primary" onclick="selectOpponent('Boss')">Boss</button>
    </div>
  </div>
  {{#if selectedOpponent}}
    <p>You have selected {{selectedOpponent}}!</p>
  {{/if}}
</div>

<script>
function selectOpponent(opponent) {
  // Set the selectedOpponent variable in the template's context
  // This will trigger the {{#if}} block to show the prompt
  Handlebars.update(this, { selectedOpponent: opponent });
  // Display the prompt in an alert box
  alert(`You have chosen to battle ${opponent}!`);
}
</script>
