<link rel="stylesheet" href="/css/homepage.css">

<main class="">

    <article id="background-image" >
        <div>
            <h1>Welcome</h1>
            {{!-- <h4>to</h4>
            <h2>ShadowLands</h2>
            <h3>"The Battle Through Darkness"</h3> --}}
        </div>
    </article>

    <article class="about">
        <span class="description">
            <h3>Description</h3>
            <p>(description)</p>
        </span>
        <img id="thumb-nail" src="/image/image-007.png" aria-placeholder="image" />
    </article>
</main>