<link rel="stylesheet" href="/css/homepage.css">

<main>

    <article id="background-image" >
        <div>
            <h1>Welcome</h1>
            <h4>to</h4>
            <h2>ShadowLands</h2>
            <h3>"The Battle Through Darkness"</h3>
        </div>
    </article>

    <article class="about">
        <span class="description">
            <h3>Description</h3>
            <p>This is a fun and exciting game that is similar to Pokemon where you can collect and battle monsters throughout your journey. The goal of the game is to become the best monster trainer in the world by collecting as many monsters as you can and defeating other trainers in battles.</p>
        </span>
        <img id="thumb-nail" src="/image/image-007.png" aria-placeholder="image" />
    </article>
</main>
