<div>
    {{#if inDialogue}}
    {{> dialogue}}
    {{else}}
    {{> battle}}
    {{/if}}
</div>

<script>
    Handlebars.register('dialogue', '{{dialogue.handlebar}}');
    Handlebars.register('battle', '{{battle.handlebar}}');
</script>

<script src="../public/js/journey.js"></script>

