<link rel="stylesheet" href="/css/sign-log.css">

<section>
    <article>
        <form>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email">
            <label for="password">Password</label>
            <input type="text" id="password" name="password">
            <input id="submit" type="button" value="submit">
        </form>
    </article>
</section>

<script src="/js/login.js"></script>