<link rel="stylesheet" href="/css/ncc.css">

<section class="my-section"> hi
    <div class="articles-container">
        <article class="avatar-article">
            {{#each prototypeArr as |proto|}}
            {{>ncc-avatar}}
            {{/each}}
        </article>
        <article="stats-article">
            {{#each prototypeArr as |proto|}}
            {{>ncc-stats}}
            {{/each}}
        </article>
    </div>
    <article ="icon-list">
        <ul>
            {{#each prototypeArr as |proto|}}
            {{>ncc-icon}}
            {{/each}}
        </ul>
    </article>
</section>
