<link rel="stylesheet" href="/css/sign-log.css">

<section class = "sign-log">
    <article>
        <form id = "sign-up">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email">
            <label for="password">Password:</label>
            <input type="password" name="Password" id="password" required>
            <label for="confirm-password">Confirm Password:</label>
            <input type="password" name="confirm_password" id="confirm_password" required>
            <button type="submit" id="confirm">Confirm</button>
        </form>
    </article>

</section>

<script src="/js/signup.js"></script>
